<div class="w-100 d-flex justify-content-center row">
  <div style="height: 500px; width: 330px" class="col-11 mb-2">
    <div id="map" class="w-100 h-100"></div>
  </div>
  <div class="col-11 mb-2">
    <div class="w-100 row">
      <div class="col-12 d-flex justify-content-center"></div>
      <div class="col-6">
        <p>Tên: <strong><%= data.detailOrder.customer_name%></strong></p>
      </div>
      <div class="col-6">
        <p>SDT: <strong><%= data.detailOrder.location%></strong></p>
      </div>
      <div class="col-12">
        <p>
          Địa Chỉ:
          <strong><%= data.detailOrder.address%></strong>
        </p>
      </div>
    </div>
  </div>
  <div class="col-11 mb-2">
    <h6>Danh Sách Đơn Hàng</h6>
  </div>
  <div class="col-11 mb-2">
    <!-- day la 1 the san pham  -->
    <% data.detailOrder.order_details.forEach((product, index) => { %>
    <div
      class="w-100 row bg-success text-white rounded-3 mb-2"
      style="padding: 0.5%"
    >
      <div class="col-3">
        <img
          src="/imgs/products/<%= product.ProductImage %>"
          alt=""
          class="w-100 h-100 rounded-3"
        />
      </div>
      <div class="col-8 row ms-3">
        <div class="col-12">
          <p>Tên món: <strong><%= product.ProductName %></strong></p>
        </div>
        <div class="col-12">
          <p>Số Lượng: <strong><%= product.Quantity %></strong></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<script>
  console.log("location user", "<%= data.detailOrder.location %>");
  console.log("location shop", "<%= infoShop.location %>");
  let locationEnd = JSON.parse("<%=data.detailOrder.location%>");
  let locationStart = JSON.parse("<%=infoShop.location%>");
  let orderId = "<%=data.detailOrder.order_id%>";
</script>
