<!-- lấy coppy form tiêu đề này qua mấy trang khác cho đồng bộ -->
<div class="d-flex justify-content-center mt-3">
  <h3>CẬP NHẬT THÔNG TIN CỬA HÀNG</h3>
</div>
<!-- ----- -->
<div class="w-100 d-flex justify-content-center pb-5">
  <div class="row container">
    <div class="col-6">
      <form action="/api/updateShopInfo" method="post">
        <div class="container w-75">
          <div class="mb-2">
            <label for="" class="form-label">Tên Cửa Hàng :</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id=""
              placeholder="Nhập Tên Cửa Hàng"
              value="<%= data.shopInfo.name %>"
            />
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Số Điện Thoại :</label>
            <input
              name="phone"
              type="tel"
              class="form-control"
              id=""
              placeholder="Nhập Số Điện Thoại"
              value="<%= data.shopInfo.phone %>"
            />
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Mã Số Thuế :</label>
            <input
              name="taxCode"
              type="text"
              class="form-control"
              id=""
              placeholder="Nhập Mã Số Thuế"
              value="<%= data.shopInfo.taxCode %>"
            />
          </div>
          <div class="mb-2">
            <label for="" class="form-label">Email :</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id=""
              placeholder="Nhập Email"
              value="<%= data.shopInfo.email %>"
            />
          </div>
          <!-- process province, district, ward-->
          <div class="col-12">
            <label for="province" class="form-label">Tỉnh/Thành phố *</label>
            <select
              required
              class="form-control"
              name="province"
              id="province"
              data-province="<%= data.shopInfo.province %>"
            >
              <option value="">Vui lòng chọn</option>
            </select>
          </div>
          <div class="col-12">
            <label for="district" class="form-label">Quận/Huyện *</label>
            <select
              required
              class="form-control"
              name="district"
              id="district"
              data-district="<%= data.shopInfo.district %>"
            >
              <option value="">Vui lòng chọn</option>
            </select>
          </div>
          <div class="col-12">
            <label for="ward" class="form-label">Xã/Thị trấn *</label>
            <select
              required
              class="form-control"
              name="ward"
              id="ward"
              data-ward="<%= data.shopInfo.ward %>"
            >
              <option value="">Vui lòng chọn</option>
            </select>
          </div>
          <!-- required click on map -->
          <div class="col-12">
            <label for="" class="form-label">Vị trí trên bản đồ *</label>
            <input
              type="text"
              class="form-control"
              id="location"
              disabled
              placeholder="Click vào bản đồ để chọn vị trí"
              value="<%= data.shopInfo.location %>"
              required
            />
            <input
              type="text"
              name="location"
              value="<%= data.shopInfo.location %>"
              hidden
              required
            />
          </div>
          <!-- end -->
          <div class="mb-2">
            <label for="" class="form-label">Địa Chỉ :</label>
            <input
              name="address"
              type="text"
              class="form-control"
              id=""
              placeholder="Nhập Địa Chỉ"
              value="<%= data.shopInfo.address %>"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Giờ Hoạt Động :</label>
            <input
              name="activeTime"
              type="text"
              class="form-control"
              id=""
              placeholder="Nhập Giờ Hoạt Động"
              value="<%= data.shopInfo.activeTime %>"
            />
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">CẬP NHẬT</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6 d-flex align-items-center">
      <div id="map" class="w-100 h-100"></div>
    </div>
  </div>
</div>
