<div class="container">
  <style>
    .one-row {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  </style>
  <form action="" id="formOrder" class="row">
    <div class="col-7 p-1">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <h4>Giỏ hàng của bạn</h4>
          <span class="totalProduct">(1 sản phẩm)</span>
        </div>
        <a href="/menu">Thêm sản phẩm</a>
      </div>
      <div class="areaProduct">
        <!-- 1 sản phẩm -->
        <% data.cartProducts.forEach((product, index) => { %>

        <div
          class="row position-relative shadow p-1 mb-3 bg-body rounded justify-content-between"
        >
          <span
            type="submit"
            class="position-absolute text-danger end-0 col-1 border text-center rounded deleteProduct"
            data-bs-idProduct="<%= product.idProduct %>"
          >
            Xóa
          </span>
          <div class="col-2 align-self-center">
            <img
              src="https://cdn.tgdd.vn/Files/2019/11/15/1219188/3-cong-thuc-lam-salad-ca-ngu-cuc-don-gian-giau-dinh-duong-lam-nhanh-6.jpg"
              alt=""
              class="w-100"
            />
          </div>
          <div class="col-6 align-self-center">
            <h4 class="nameProduct one-row"><%= product.name %></h4>
            <p class="one-row"><%= product.description %></p>
            <p
              class="priceProduct text-danger fs-4 fw-bold"
              data-bs-priceProduct="<%= product.currentPrice %>"
            >
              <%= product.formatPrice %>
            </p>
          </div>
          <div
            class="col-3 align-self-center align-item-center controlQuantity"
          >
            <button
              type="button"
              class="btn border w-10 fw-bold py-1 minusQuantity"
            >
              -
            </button>
            <input
              type="number"
              class="inpQuantity w-50"
              value="<%= product.quantity %>"
              data-bs-idProduct="<%= product.idProduct %>"
            />
            <button
              type="button"
              class="btn border w-10 fw-bold py-1 addQuantity"
            >
              +
            </button>
          </div>
          <input
            type="text"
            hidden
            value="<%= product.idProduct %>"
            name="idProduct"
          />
        </div>
        <% })%>
        <!-- kết thúc -->
      </div>
    </div>
    <div class="col-5">
      <div class="rounded border p-1 mb-2">
        <h4>
          Thông tin giao hàng
          <span
            class="fs-6 p-1 border rounded"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Chọn địa chỉ
          </span>
        </h4>

        <p class="showAddress"></p>
        <!-- input ẩn vận chuyển -->
        <input type="text" hidden name="nameDelivery" />
        <input type="text" hidden name="phoneDelivery" />
        <input type="text" hidden name="addressDelivery" />
        <!-- kết thúc -->
      </div>
      <div class="rounded border p-1 mb-2">
        <h4>Lưu ý khi đặt hàng</h4>
        <textarea
          name="description"
          id=""
          class="w-100 rounded "
          style="resize: none;"
        >
        </textarea>
      </div>
      <div class="rounded border p-1 mb-2">
        <!-- tong phu -->
        <div class="fs-5 areaSubTotal">
          <!-- 1 sản phẩm -->
          <div class="d-flex justify-content-between">
            <span>salad cá ngừ</span>
            <span>125.000đ</span>
          </div>
          <!-- kết thúc -->
        </div>
        <!-- tong cong -->
        <div class="d-flex justify-content-between fs-4 text-danger">
          <span>Tổng cộng</span>
          <span class="total">123.000đ</span>
        </div>
        <div>
          <button type="submit" class="btn btn-primary w-100 btnOrder">
            Thanh toán
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- modal chọn địa chỉ -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Danh sách địa chỉ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- 1 địa chỉ -->
        <% data.listAddress.forEach((address, index) => { %>
        <div class="row align-items-center">
          <div class="col-1">
            <input type="radio" name="address" id="address<%= address.id %>"
            value="<%= address.name %> - <%= address.phone %> - <%=
            address.address %>" data-bs-name="<%= address.name %>"
            data-bs-phone="<%= address.phone %>" data-bs-address="<%=
            address.address %>" <%= address.isDefault ? 'checked' : '' %> />
          </div>
          <label class="col-11" for="address<%= address.id %>">
            <div class="d-flex justify-content-between">
              <span><%= address.name %></span>
              <span><%= address.phone %></span>
            </div>
            <div><%= address.address %></div>
          </label>
        </div>
        <% }); %>
        <!-- kết thúc -->
      </div>
      <a href="/profileAddress" class="w-100 btn btn-primary ">Thêm địa chỉ</a>
    </div>
  </div>
</div>
