<div class="d-flex justify-content-center" style="
    background-image: url(/imgs/static/bg-bottom.png);
    background-size: contain;
  ">
  <div class="container">
    <div class="slider">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% data.banners.forEach(function(banner,ind) { %>
          <div class="carousel-item <% if (ind == 0) { %> active <% } %>">
            <img height="550" src="/imgs/banners/<%= banner.image %>" class="d-block w-100" alt="<%= banner.image %>" />
          </div>
          <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <main class="my-3">
      <div class="row">
        <div class="col">
          <h3 class="mx-4 mt-3" style="text-shadow: 0px 0px 5px white;">SẢN PHẨM BÁN CHẠY</h3>
        </div>
        <!-- <div class="col d-flex justify-content-end">
          <a href="" class="btn btn-success">XEM TẤT CẢ -></a>
        </div> -->
      </div>
      <div class="container d-flex justify-content-center">
        <div class="row">
          <!-- 1 the san pham -->
          <% data.products.forEach(function(product){ %>
          <div class="col my-5 mx-2 shadow ">
            <div class="card" style="width: 18rem">
              <div class="d-flex justify-content-center align-content-center" style="width: 287px; height: 287px">
                <img src="imgs/products/<%= product.image %>" class="card-img-top" alt="Ảnh + tên món ăn" />
              </div>
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center" style="height: 50px">
                  <%= product.name %>
                </h5>
                <h5 class="card-title d-flex justify-content-center">
                  <%= product.currentPrice %>
                </h5>
                <div class="d-flex justify-content-center">
                  <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-success d-flex justify-content-center btnShowModal" data-bs-isLogin="<% if (userLogin) { %>true<% } else { %>false<% } %>" data-bs-productId="<%= product.id %>" data-bs-productName="<%= product.name %>" data-bs-itemAddMore="<%= product.itemAddMore ? JSON.stringify(product.itemAddMore) : '' %>" data-bs-productCurrentPrice="<%= product.currentPrice %>" data-bs-productImage="<%= product.image %>" data-bs-productDescription="<%= product.description %>">
                    Thêm Vào Giỏ Hàng
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
          <!-- -------------- -->
        </div>
      </div>
    </main>

    <div class="my-5">
      <h3 class="mx-4 my-5" style="text-shadow: 0px 0px 5px white;">KHÁCH HÀNG NÓI GÌ VỀ CHÚNG TÔI</h3>
      <div class="swiper mySwiper my-5">
        <div class="swiper-wrapper">
          <!-- 1 thẻ feedback  -->
          <% data.topNewFeedback.forEach(function(feedback) { %>
          <div class="swiper-slide row" style="background-color: rgb(52, 133, 89); padding: 2%; border-radius: 35px;">
            <h6 class="col-12 text-white"><%= feedback.name %></h6>
            <p class="col-12 text-white"><%= feedback.content %></p>
          </div>
          <% } ) %>

          <!-- -------------  -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

<!-- modal chi tiet mon an -->

<div class="modal fade divModalFormAddToCart" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <form id="modalFormAddToCart" action="/api/addProductToCart" method="post">
      <input type="hidden" class="modal-productId" name="productId" />
      <div class="modal-content">
        <div class="modal-header">
          <!-- modal title la` ten mon an  -->
          <h4 class="modal-title modal-productName" id="staticBackdropLabel"></h4>
          <button type="button" class="btn-close modal-btnCloseModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
          <div class="col-4 row d-flex justify-content-center">
            <img src="" class="card-img-top mb-3 modal-productImage" alt="Ảnh + tên món ăn" />
            <div class="d-flex justify-content-center mb-3">
              <!-- gia san pham -->
              <h3 class="modal-productCurrentPrice"></h3>
            </div>
            <!-- nut cong tru so luong san pham -->
            <div class="col-4 mb-3">
              <div class="input-group mb-3">
                <button class="btn btn-outline-secondary button-minus-Product" type="button">
                  <i class="bi bi-dash"></i>
                </button>
                <input name="productQuantity" style="text-align: center" type="number" class="form-control quantity-Product" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" min="1" max="100" oninput="validity.valid||(value='');" value="1" />
                <button class="btn btn-outline-secondary button-plus-Product" type="button">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div>
              <!-- mô tả món ăn -->
              <p class="modal-productDescription"></p>
            </div>
            <div id="areaAddMore">
              <strong class="h5 mb-3">Danh Sách món ăn kèm</strong>
              <div id="areaAddMoreItem">
                <!-- 1 the mon an kem -->

                <!-- ------------------------  -->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            Thêm Vào Giỏ Hàng
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- CSS  -->
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>