<div class="container-fluid">
  <div class="row">
    <nav
      class="col-md-3 col-lg-2 d-md-block bg-success text-white min-vh-100 p-4 rounded"
    >
      <h6 class="text-center">THÔNG TIN TÀI KHOẢN</h6>
      <ul class="nav flex-column text-center p-3">
        <li class="nav-item">
          <a class="nav-link text-white active" href="/profile"
            ><i class="bi bi-person-circle"></i> Quản lý tài khoản</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/listAddress"
            ><i class="bi bi-gear"></i> Quản lý địa chỉ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/historyProduct"
            ><i class="bi bi-chat-dots"></i> Lịch sử đặt hàng</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/rePassword"
            ><i class="bi bi-bell"></i> Đặt lại mật khẩu</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/deleteAccount"
            ><i class="bi bi-box-arrow-right"></i> Xóa tài khoản</a
          >
        </li>
      </ul>
    </nav>

    <div class="col-md-9 ms-5">
      <h1 class="text-center m-4">SỬA ĐỊA CHỈ</h1>
      <div class="row">
        <div class="col-6">
          <form method="POST" action="/api/editAddress">
            <div class="row mb-3">
              <div class="col-12">
                <label for="fullname" class="form-label">Họ và tên *</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="fullname"
                  value="<%= data.address.name %>"
                  required
                />
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Số điện thoại *</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phone"
                  value="<%= data.address.phone %>"
                  required
                />
              </div>
              <!-- process province, district, ward-->
              <div class="col-12">
                <label for="province" class="form-label"
                  >Tỉnh/Thành phố *</label
                >
                <select
                  required
                  class="form-control"
                  name="province"
                  id="province"
                  data-province="<%= data.address.province %>"
                >
                  <option value="">Vui lòng chọn</option>
                </select>
              </div>
              <div class="col-12">
                <label for="district" class="form-label">Quận/Huyện *</label>
                <select
                  required
                  class="form-control"
                  name="district"
                  id="district"
                  data-district="<%= data.address.district %>"
                >
                  <option value="">Vui lòng chọn</option>
                </select>
              </div>
              <div class="col-12">
                <label for="ward" class="form-label">Xã/Thị trấn *</label>
                <select
                  required
                  class="form-control"
                  name="ward"
                  id="ward"
                  data-ward="<%= data.address.ward %>"
                >
                  <option value="">Vui lòng chọn</option>
                </select>
              </div>
              <!-- required click on map -->
              <div class="col-12">
                <label for="" class="form-label">Vị trí trên bản đồ *</label>
                <input
                  type="text"
                  class="form-control"
                  id="location"
                  disabled
                  placeholder="Click vào bản đồ để chọn vị trí"
                  value="<%= data.address.location %>"
                  required
                />
                <input
                  type="text"
                  name="location"
                  value="<%= data.address.location %>"
                  hidden
                  required
                />
              </div>
              <!-- end -->
              <div class="col-12">
                <label for="address" class="form-label">Địa chỉ cụ thể *</label>
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  id="address"
                  placeholder="Số nhà, tên đường"
                  value="<%= data.address.address %>"
                  required
                />
              </div>
            </div>
            <input
              type="text"
              name="id"
              value="<%= data.address.id %>"
              hidden
            />
            <div class="text-center">
              <button type="submit" class="btn btn-success w-100">
                Cập nhật địa chỉ
              </button>
            </div>
          </form>
        </div>
        <div class="col-5 ms-3">
          <div id="map" class="w-100 h-100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
